name: Push
on:
  workflow_dispatch:
  push:
env:
  APP: flex-cli
  NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
jobs:
  build-and-lint:
    name: Bygg og lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.0.2
      - run: bun install --frozen-lockfile
      - name: Run prettier
        run: npm run prettier:check
      - name: Run lint
        run: npm run lint
      - name: Build
        run: npm run build
